/Projects/Project_one/data/
/BLOCK.1/Data/
/BLOCK_3_EDA/data/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
/BLOCK_2_Upload_Data/data/

!/Projects/AB_task/Data/
!/Projects/PROJECT-3.EDA + Feature Engineering/Data/
!/Projects/PROJECT-3.EDA + Feature Engineering/hotels.csv

!/Projects/PROJECT-3.EDA + Feature Engineering/submission_res.csv
!/BLOCK_3_REPEAT/Data/
